
#img1
{
	height: 180px;	
	margin: auto;
	padding-top: 60px;		
	width: 60%;
	display: block;
	text-align: center;
}

#img3
{	
	border:2px solid #777;
	height: 100px;	
	margin: auto;			
	width: 100%;
	display: block;
	text-align: center;
}


#img2
{
		border: 2px solid #777;
		width:250px;
		height:250px;
}

h1,h2,h3,h4,h5,h6
{
	padding-left: 230px;
	font-family: "avenir", sans-serif;
}

p
{
	
}

#prodset
{
	padding-top: 500px;
}


#paraset
{
	text-align: justify;
	color:#737373;
	font-family: "avenir", sans-serif;
	font-size: 16px;
	padding-left: 70px;
	height: 200px;
	width: 400px;
	float: left;
}

#pinnav
		{
			padding-bottom:  0 auto ;	
		}

#resnavgi	
{
	background-color: #f1f1f1;
	position:fixed;
	font-family: "avenir", sans-serif;
	text-align:center;
	top:0;
	left: 0;
	width:100%;
	display: block;
	padding-left: 14%;
}	
					
#panelhome
{
	background-color: #ffffff;			
}

#panelabt,#panelprod,#panelcont
{
	display: none;
	width: 100%;		
	background-color: #ffffff;		
}				


#fliphome,#flipabt,#flipprod,#flipcont
{
	float: left;
	font-size: 21px;
	margin-top: 1%;
	color:black;
	padding-left: 12%;	 
}

#fliphome:hover,#flipabt:hover,#flipprod:hover,#flipcont:hover
{
	color: #3399ff;
	cursor: pointer;
}

			
div.gallery 
{
    border: 1px solid #777;
}

div.gallery:hover 
{
    border: 1px solid #777;
}

div.gallery img 
{
	padding-top: 10px;
    font-family: "avenir", sans-serif;
    width: 0 auto;
    height: 250px;
}

div.desc
{
	border: 1px solid #777;
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive 
{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px)
{
    .responsive
    {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 100px)
{
    .responsive 
    {
        width: 100%;
    }
}

.clearfix:after 
{
    content: "";
    display: table;
    clear: both;
}
 

.bla
{
	padding:10px;
	margin-top: 10px;
	font-family: 'Pacifico', cursive;
	width: 100%;
	color: white;
	background-color:black;
}


.deskhide
{
	display: none;
}

#headers
{
	font-size: 30px;
	font-family: "avenir", sans-serif;	
}


#pfot
{
	padding-left: 230px;
	font-size: 18px;
	font-family: "avenir", sans-serif;
	color: #ffff1a;	
}

#icon
{
	text-decoration: none;
	color:#4286f4;
	word-spacing: 10px;
}					
#icon:hover
{
	text-decoration:none;
	color:red;
}

#map {
        height: 400px;
        width: 100%;
       }
